apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: status-ingress
  annotations:
    # kubernetes.io/ingress.global-static-ip-name: status-ip-address
    networking.gke.io/managed-certificates: status-certificate
    ingress.gcp.kubernetes.io/pre-shared-cert: "status-certificate"
spec:
  backend:
    serviceName: status-service
    servicePort: 60000
  rules:
  - http:
      paths:
      - path: /*
        backend:
          serviceName: status-service
          servicePort: 60000
